{
    "plugins": [
       "babel-plugin-syntax-dynamic-import",
       "babel-plugin-dynamic-import-polyfill",
       ["module-resolver",  {
          "root": ["./"],
          "alias": {
             "app": "./resources/app",
             "config": "./resources/config",
             "mixins": "./resources/shared/mixins",
             "utils": "./resources/shared/utils",
             "components": "./resources/shared/vue/components",
             "store": "./resources/shared/vue/store"
          }
       }]
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": "core-js@3"
            }
        ]
    ]
 }