{
    "plugins": [
       "babel-plugin-syntax-dynamic-import",
       ["module-resolver",  {
          "root": ["./"],
          "alias": {
             "app": "./resources/app",
             "config": "./resources/config",
             "mixins": "./resources/shared/mixins",
             "utils": "./resources/shared/utils",
             "components": "./resources/shared/vue"
          }
       }]
    ]
 }