// @import "admin-lte/build/scss/AdminLTE.scss";


[v-cloak] > * { display:none }
[v-cloak]::before { content: "" }

// Navbar badge
.navbar-badge {
    font-size: .6rem;
    font-weight: 300;
    padding: 2px 4px;
    position: absolute;
    right: -4px;
    top: 1px;
}

/* context menu ui */
.v-context,
.v-context ul {
    padding:0px;
}

.v-context > li > a:hover, 
.v-context > li > a:focus, 
.v-context ul > li > a:hover, 
.v-context ul > li > a:focus  {
    cursor: pointer;
}